.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: red;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button:disabled {
  background-color: #ff5050;
  cursor: not-allowed;
}

.button:hover:not(:disabled) {
  background-color: red;
}

.pageInfo {
  font-weight: bold;
}