.container {
  padding: 2rem;
}

.details {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

.details img {
  width: 300px;
  border-radius: 8px;
}

.section {
  margin-top: 2rem;
}

.cast {
  list-style: none;
  padding: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.5rem;
}

.detailsBouton {
  position: relative;
  right: 920px;
}