.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  margin: -1em;
  background-color: #000000;
}

.logo {
  color: red;
  font-size: 1.5rem;
}

.links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.links a {
  color: red;
  text-decoration: none;
  font-weight: 500;
}

.links a:hover {
  text-decoration: underline;
}